---
import DateDisplay from "../DateDisplay.astro";
import instantteams from "../../assets/project-logos/instantteamslogo.avif"
import baysidechurch from "../../assets/project-logos/baysidechurch.avif"
import bayside from "../../assets/project-logos/bayside.avif"
import baysidesingles from "../../assets/project-logos/baysidesingles.avif"
const resume = [
  {
    title:"Instant Teams",
    img:instantteams,
    position:"Full Stack Developer",
    dates: ["Feb 2022", "Present"],
    bullets: [
"Spearheaded SSO server development using NodeJS and TypeScript at Instant Teams, completing ahead of schedule and exemplifying adaptability in web development.",
"Refactored navigation and layout for over 40,000 users using CSS, significantly improving the user interface and aligning with modern web standards.",
"Achieved a 20% improvement in process speed by optimizing NodeJS processes and SQL queries, enhancing performance for syncing with NoSQL databases and Redis.",
"Ensured accessibility compliance by overhauling a client-facing web application to meet WCAG standards, demonstrating a commitment to inclusivity in user experiences.",
"Led UI/UX enhancements, directly contributing to a more efficient and user-friendly web application, aligning with a focus on seamless user experience.",
    ]
  },
  {
    title: "Bayside",
    img: bayside,
    position: "Junior Application Developer",
    dates: ["Jan 2021", "Dec 2021"],
    bullets: [
      "Developed an enrollment management system at Bayside IT, achieving a 63% improvement in user flow and experience, demonstrating expertise in enhancing user interfaces and engagement.",
      "Managed PostgreSQL data tasks independently, reducing open support tickets by 37%, showcasing strong skills in database management and efficiency.",
      "Collaborated effectively under IT management, bridging the gap between development, help desk, and users, enhancing overall operational efficiency and teamwork.",
    ]
  },
  {
    title: "Bayside Singles",
    img: baysidesingles,
    position: "Front End Developer",
    dates: ["Sept 2017", "Jan 2021"],
    bullets: [
    "Elevated online presence by 150%, demonstrating exceptional skill in social media strategy and content creation, crucial for QuickGredients' app promotion and community engagement.",
    "Achieved up to 52k views on live video content, showcasing proficiency in driving user engagement and digital community leadership.",
    "Spearheaded the creation of a live stream solution in a 2-week timeframe, reflecting adaptability and innovative thinking, aligning with a dynamic and fast-paced environment.",
    "Social Media Strategy and Content Creation: Elevated online presence by 150% and achieved up to 52k views on live video content; led campaigns for major events and brand updates, solidifying Bayside Singles as a top-engaged organization in our industry.",
    ]
  }
]
---

{resume.map((job) => 
  <details class="relative pb-4 border-b-2 cursor-pointer xl:before:content-['✚'] xl:open:before:content-['✖︎']">
  <summary class="flex flex-row">
    <div class="flex flex-col lg:flex-row flex-1 lg:gap-8 lg:pl-12">
      <div class="hidden lg:flex lg:w-1/5">
        <img src={job.img.src} alt="" class="h-full" />
      </div>
      <h3 class="lg:hidden">{job.title}</h3>
      <p class="lg:text-xl">{job.position}</p>
    </div>
    <DateDisplay dates={job.dates} />
  </summary>
  <div class="pt-4">
    <ul class="resume ml-12 list-disc">
      {job.bullets.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  </details>
)}